<form class="list-form" [formGroup]="formGroup" (submit)="submit()">

  <ion-item>
    <ion-label class="label-login" position="floating">
      <ion-icon name="person" item-start class="text-primary"></ion-icon>
      Nome Completo
    </ion-label>
    <ion-input 
      formControlName="name"
      type="text"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="label-login" position="floating">
      <ion-icon name="calendar" item-start class="text-primary"></ion-icon>
      Data de nascimento
    </ion-label>
    <ion-datetime
      formControlName="birthDate" 
      displayFormat="DD/MM/YYYY"
    ></ion-datetime
    >
  </ion-item>
  <ion-grid class="no-padding">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="label-login" position="floating">
            <ion-icon name="call" item-start class="text-primary"></ion-icon>
            Telefone
          </ion-label>
          <ion-input
            formControlName="telephone" 
            type="text"
            [brmasker]="{
              form: formGroup.get('telephone'), 
              mask: '(99) 9999-9999', 
              len:14, 
              type:'num'
            }"
          ></ion-input
          >
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="label-login" position="floating">
            <ion-icon name="phone-portrait" item-start class="text-primary"></ion-icon>
            Celular
          </ion-label>
          <ion-input
            formControlName="cellphone" 
            type="text"
            [brmasker]="{
              form: formGroup.get('cellphone'), 
              mask: '(99) 99999-9999', 
              len:15, 
              type:'num'
            }"

          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label class="label-login" position="floating">
      <ion-icon name="pin" item-start class="text-primary"></ion-icon>
      CEP
    </ion-label>
    <ion-input 
      formControlName="cep"
      type="text"
      (keyup)="getAddress()"
      [brmasker]="{
        form: formGroup.get('cep'), 
        mask: '99999-999', 
        len:9, 
        type:'num'
      }"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="label-login" position="floating">
      <ion-icon name="pin" item-start class="text-primary"></ion-icon>
      Logradouro
    </ion-label>
    <ion-input 
      formControlName="street"
      type="text"
    ></ion-input>
  </ion-item>
  <ion-grid class="no-padding">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="label-login" position="floating">
            <ion-icon name="pin" item-start class="text-primary"></ion-icon>
            Número
          </ion-label>
          <ion-input 
            formControlName="number"
            type="number" 
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="label-login" position="floating">
            <ion-icon name="pin" item-start class="text-primary"></ion-icon>
            Complemento
          </ion-label>
          <ion-input 
            formControlName="complement"
            type="text"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label class="label-login" position="floating">
      <ion-icon name="pin" item-start class="text-primary"></ion-icon>
      Bairro
    </ion-label>
    <ion-input 
      formControlName="neighborhood"
      type="text"
    ></ion-input>
  </ion-item>
  <ion-grid class="no-padding">
    <ion-row align-items-center>
      <ion-col>
        <ion-item>
          <ion-label class="label-login">
            <ion-icon name="pin" item-start class="text-primary"></ion-icon>
            Estado
          </ion-label>
          <ion-select 
            formControlName="state"
            placeholder="Selecione"
          >
            <ion-select-option 
              *ngFor="let state of states"
              [value]="state.abbreviation"
            >
              {{state.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="label-login" position="floating">
            <ion-icon name="pin" item-start class="text-primary"></ion-icon>
            Cidade
          </ion-label>
          <ion-input 
            formControlName="city"
            type="text"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label class="label-login" position="floating">
      <ion-icon name="mail" item-start class="text-primary"></ion-icon>
      E-mail
    </ion-label>
    <ion-input 
      formControlName="email"
      type="email"
    ></ion-input>

  </ion-item>
  <ion-item>
    <ion-label class="label-login" position="floating">
      <ion-icon name="lock" item-start class="text-primary"></ion-icon>
      Senha
    </ion-label>
    <ion-input 
      formControlName="password"
      type="password"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="label-login">
      Aceito receber contato via WhatsApp
    </ion-label>
    <ion-checkbox
      formControlName="canWhatsappContact"
    ></ion-checkbox
      >
  </ion-item>
  <div class="ion-text-center marginT-2">
    <ion-button
      type="submit" 
      fill="outline" 
      color="clinica-secondary"
    >Cadastrar</ion-button
    >
  </div>
  <div class="ion-text-center ion-padding">
    Ao se cadastrar, você estará aceitando os
    <div>
      <a>termos de uso</a>
    </div>
  </div>

</form>