<ion-grid>
  <ion-row>
    <ion-col>
      <img class="logo" src="/assets/imgs/logo.svg">
    </ion-col>
    <ion-col>
      <div class="text-icon">
        <h1 class="title-logo">Carol</h1>
        <h3 class="subtitle-logo">Podologia</h3>
      </div>
    </ion-col>

    <ion-col>
      <ion-row>
        <ion-col>
          <ion-avatar class="icon-avatar" float-right>
            <img class="avatar-img" src="/assets/imgs/avatar-woman.svg">
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
<div *ngIf="showWelcome" class="ion-text-center">
  <ion-text *ngIf="(user$ | async) as user"
    class="ion-text-uppercase icon-subtitle"
  >Olá {{user.name}} !</ion-text>
</div>