<ion-grid>
  <ion-row>
    <ion-col [ngClass]="getLogoPositionClass()[0]">
      <img class="logo" src="/assets/imgs/logo.svg">
    </ion-col>
    <ion-col [ngClass]="getLogoPositionClass()[1]">
      <div class="text-icon">
        <h1 class="title-logo">Carol</h1>
        <h3 class="subtitle-logo">Podologia</h3>
      </div>
    </ion-col>

    <ion-col>
      <ion-row>
        <ion-col>
          <ion-avatar class="icon-avatar" float-right *ngIf="showAvatar">
            <img class="avatar-img" src="/assets/imgs/avatar-woman.svg">
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
<div *ngIf="showWelcome" class="ion-text-center">
  <ion-text class="ion-text-uppercase icon-subtitle">Olá Maria !</ion-text>
</div>