ion-avatar { 
    width: 80px;
    height: 80px;
}

.logo {
    width: 50px;
    height: 85px;
    margin-top: 0.5rem;
}

.text-icon {
    margin-left: -4rem;
    margin-top: 2rem;
}

.title-logo {
    font-weight: 500;
    font-size: 1rem;
    color: var(--ion-color-clinica-secondary);
}

.subtitle-logo {
    font-weight: 900;
    margin-top: -0.7rem;
    font-size: 1rem;
    color: var(--ion-color-clinica-secondary);
}

.icon-avatar {
    margin-right: 1rem;
}

.avatar-img {
    border: 3px solid var(--ion-color-clinica-secondary);
}

.icon-subtitle {
    font-weight: 900;
    font-size: 1.3rem;
    color: var(--ion-color-clinica-secondary);
}