<ion-list>
  <ion-row>
    <ion-col>
      <ion-card class="item-menu">
        <div class="ion-text-center">
          <img class="item-menu-img" src="/assets/imgs/podology.svg">
          <ion-card-content class="item-text">Podologia</ion-card-content>
        </div>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="item-menu">
        <div class="ion-text-center">
          <img class="item-menu-img" src="/assets/imgs/depilation.svg">
          <ion-card-content class="item-text">Depilação</ion-card-content>
        </div>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="item-menu">
        <div class="ion-text-center">
          <img class="item-menu-img" src="/assets/imgs/esthetician.svg">
          <ion-card-content class="item-text">Esteticista</ion-card-content>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card class="item-menu">
        <div class="ion-text-center">
          <img class="item-menu-img" src="/assets/imgs/massage.svg">
          <ion-card-content class="item-text">Massoterapia</ion-card-content>
        </div>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="item-menu">
        <div class="ion-text-center">
          <img class="item-menu-img" src="/assets/imgs/nutricionist.svg">
          <ion-card-content class="item-text">Nutricionista</ion-card-content>
        </div>
      </ion-card>
    </ion-col>
    
    <!--hack coluna extra vazia-->
    <ion-col></ion-col>
  </ion-row>
</ion-list>