<ion-list>
  <ion-row>
    <ion-col *ngFor="let item of serviceItens">
      <ion-card class="item-menu" (click)="clicked(item)" class="ion-activatable ripple-parent">
        <div class="ion-text-center">
          <img class="item-menu-img" [src]="item.logo">
          <ion-card-content class="item-text">{{item.name}}</ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-card>
    </ion-col>
    
    <!--hack coluna extra vazia-->
    <ion-col *ngIf="needEmptyItem()"></ion-col>
  </ion-row>
</ion-list>