.alert-text {
  color: var(--ion-color-clinica-secondary);
}

.card-alert {
  margin-bottom: 7rem; // corrigir quando as tabs forem corrigidas // hack para nao esconder os alertas atras das tabs
  border-left: 7px solid var(--ion-color-clinica-secondary);
}