<clinica-header></clinica-header>

<ion-content>

  <clinica-sub-header showWelcome="true"></clinica-sub-header>


  <ion-list class="ion-padding label-graph">
    <clinica-title-content title="Opções para seu gerenciamento"></clinica-title-content>
  </ion-list>

  <clinica-services-list [serviceItens]="serviceItens"></clinica-services-list>

  <ion-list class="ion-padding label-graph">
    <clinica-title-content title="Últimos 4 agendamentos"></clinica-title-content>
  </ion-list>
  <div class="timeline-space"></div>
  <clinica-timeline></clinica-timeline>

</ion-content>