<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <clinica-sub-header></clinica-sub-header>


  <ion-list class="ion-padding label-graph">
    <clinica-title-content title="COMO PODEMOS TE AJUDAR?"></clinica-title-content>
  </ion-list>

  <clinica-services-list></clinica-services-list>

  <ion-list class="ion-padding label-graph">
    <clinica-title-content title="Agendamentos realizados nos últimos 6 meses"></clinica-title-content>
  </ion-list>

  <div class="ion-padding">
    <canvas #lastConsultations ></canvas>
  </div>

</ion-content>