<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Agendamentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <clinica-sub-header></clinica-sub-header>

  <div class="ion-text-center">
    <ion-button fill="outline" color="clinica-secondary">Novo agendamento</ion-button>
  </div>

  <div class="marginB-2">
    <clinica-title-content title="Últimos agendamentos"></clinica-title-content>
  </div>

  <clinica-timeline></clinica-timeline>

</ion-content>