<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <clinica-sub-header></clinica-sub-header>

  <ion-searchbar class="ion-padding" placeholder="O QUE VOCÊ PRECISA HOJE?"></ion-searchbar>

  <clinica-services-list [serviceItens]="serviceItens"></clinica-services-list>

  <clinica-remember-alert></clinica-remember-alert>

</ion-content>