<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <clinica-sub-header></clinica-sub-header>

  <ion-searchbar class="ion-padding" placeholder="O QUE VOCÊ PRECISA HOJE?"></ion-searchbar>

  <clinica-services-list></clinica-services-list>

  <ion-list class="ion-padding">
    <ion-item>
      <ion-label class="alert-text ion-text-uppercase">Para te lembrar</ion-label>
    </ion-item>
  </ion-list>

  <ion-card class="card-alert">
    <div class="ion-text-center">
      <ion-card-content class="item-text">Você tem 1 agendamento marcado pra amanhã com a doutora Carol
      </ion-card-content>
    </div>
  </ion-card>

</ion-content>