.card-subtitle {
  margin-bottom: 1rem;
}

.card-icon {
  margin-top: -1rem;
  margin-right: -1rem;
}

.item-menu {
  height: 7rem;
  width: 6rem;
}

.item-menu-img {
  width: 3rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.item-text {
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.alert-text {
  color: var(--ion-color-clinica-secondary);
}

.card-alert {
  margin-bottom: 7rem; // corrigir quando as tabs forem corrigidas // hack para nao esconder os alertas atras das tabs
  border-left: 7px solid var(--ion-color-clinica-secondary);
}