.title-text {
    color: var(--ion-color-clinica-secondary);
}

.item-menu {
    height: 7rem;
    width: 6rem;
}

.item-menu-img {
    width: 3rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.item-text {
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}