<clinica-header pageName="Serviços"></clinica-header>

<ion-content>
  
  <clinica-sub-header 
    [showAvatar]="false" 
    logoPosition="center"
  ></clinica-sub-header>

  <br>
  <div class="ion-text-center">
    <ion-button fill="outline" color="clinica-secondary">Novo serviço</ion-button>
  </div>
  
  <div class="marginB-2">
    <clinica-title-content title="Serviços disponíveis"></clinica-title-content>
  </div>

  <clinica-services-list [serviceItens]="serviceItens"></clinica-services-list>

</ion-content>
