<clinica-header pageName="Editar serviço"></clinica-header>

<ion-content>

    <clinica-sub-header 
        [showAvatar]="false" 
        logoPosition="center"
    ></clinica-sub-header>

    <br>
    <clinica-title-content title="Preencha os dados abaixo"></clinica-title-content>

    <div class="ion-padding">
        <clinica-form-professional 
            [createdForm]="professionalForm"
            (formCompleted)="edit($event)"
            actionButton="Editar"
        ></clinica-form-professional>
    </div>

</ion-content>
