.forgotpass-page {
  background-color: #ffffff;
  &::after {
    content: "";
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
  }

  ion-label {
    ion-icon {
      color: var(--ion-color-clinica-secondary);
    }
  }
}
