<ion-header>
  <ion-toolbar color="clinica-primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Carol Podologia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text float-right class="last-access">Último acesso em 12/01/2020</ion-text>
  <br>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <h1 class="ion-text-center welcome-name">Olá Maria!</h1>
      </ion-card-title>
      <ion-card-subtitle class="ion-text-center">Bem vindo(a) clínica de estética e podologia Carol Podologia.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-text-center">Você tem 38 agendamentos nos úiltimos 12 meses</p>
    </ion-card-content>
  </ion-card>

  <ion-card color="clinica-secondary">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>Agendamentos</ion-card-title>
          </ion-col>
          <ion-col>
            <ion-icon name="grid" size="large" class="card-icon" float-right></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content class="card-subtitle">
      <p>
        Clique aqui para fazer agendamentos.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card color="clinica-secondary">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>Usuários</ion-card-title>
          </ion-col>
          <ion-col>
            <ion-icon name="contacts" size="large" class="card-icon" float-right></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content class="card-subtitle">
      <p>
        Clique aqui para gerenciar usuários/clientes.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>