<form #form="ngForm" class="list-form" [formGroup]="formGroup" (submit)="submit()">

  <ion-item>
    <ion-label class="label-login" position="floating">
      <ion-icon name="person" item-start class="text-primary"></ion-icon>
      Nome
    </ion-label>
    <ion-input 
      formControlName="name"
      type="text"
    ></ion-input>
  </ion-item>
    
  <div class="errors">

    <ion-label color="danger"
      *ngIf="
      formGroup.get('name').errors?.startsWithBlanks 
      && (form.submitted || formGroup.get('name').updateOn)"
    >
      * O nome não deve iniciar com caracteres em branco
    </ion-label>

    <ion-text color="danger"
      *ngIf="
      formGroup.get('name').errors?.notMinlength 
      && (form.submitted || formGroup.get('name').touched)"
    >
      * O nome deve ter no mínimo 3 caracteres
    </ion-text>

    <ion-text color="danger"
      *ngIf="
      formGroup.get('name').errors?.notMaxlength 
      && (form.submitted || formGroup.get('name').updateOn)"
    >
      * O nome deve ter no máximo 50 caracteres
    </ion-text>

  </div>

  <ion-item>
    <ion-label class="label-login" position="floating">
      <ion-icon name="person" item-start class="text-primary"></ion-icon>
      Imagem
    </ion-label>
    <ion-input 
      formControlName="image"
      type="text"
    ></ion-input>
  </ion-item>
    
  <div class="errors">

    <ion-label color="danger"
      *ngIf="
      formGroup.get('image').errors?.startsWithBlanks 
      && (form.submitted || formGroup.get('image').updateOn)"
    >
      * A imagem não deve iniciar com caracteres em branco
    </ion-label>

    <ion-text color="danger"
      *ngIf="
      formGroup.get('image').errors?.notMinlength 
      && (form.submitted || formGroup.get('image').touched)"
    >
      * A imagem deve ter no mínimo 2 caracteres
    </ion-text>

    <ion-text color="danger"
      *ngIf="
      formGroup.get('image').errors?.notMaxlength 
      && (form.submitted || formGroup.get('image').updateOn)"
    >
      * A imagem deve ter no máximo 50 caracteres
    </ion-text>

  </div>

  <ion-item>
    <ion-label class="label-login" position="floating">
      <ion-icon name="person" item-start class="text-primary"></ion-icon>
      Descrição
    </ion-label>
    <ion-input 
      formControlName="description"
      type="text"
    ></ion-input>
  </ion-item>
    
  <div class="errors">

    <ion-text color="danger"
      *ngIf="
      formGroup.get('description').errors?.notMaxlength 
      && (form.submitted || formGroup.get('description').updateOn)"
    >
      * A descrição deve ter no máximo 50 caracteres
    </ion-text>

  </div>

  <div class="ion-text-center marginT-2">
    <ion-button
      [disabled]="formGroup.invalid"
      type="submit" 
      fill="outline" 
      color="clinica-secondary"
    >Cadastrar</ion-button

    >
  </div>

</form>