<ion-tabs>
  <ion-tab-bar *ngIf="showTabs" slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Agendamentos</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="specialty">
      <ion-icon name="list"></ion-icon>
      <ion-label>Serviços</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="call"></ion-icon>
      <ion-label>Informações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>