<section class="timeline">
  <div class="container">
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <div class="title">
          <div class="status-agendado">AGENDADO</div>
          <div class="date">1 FEV 2020</div>
        </div>
        <div class="agendamento-content">
          <p class="client-name">Paciente: Carlos Dias</p>
          <p class="professional-name">Profissional: Ana Marques</p>
          <p class="data-agendamento">Horário: 16h30 - 18h30</p>
          <a class="bnt-more">Ver mais</a>
        </div>
      </div>
    </div> 

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <div class="title">
          <div class="status-remarcado">REMARCADO</div>
          <div class="date">1 FEV 2020</div>
        </div>
        <div class="agendamento-content">
          <p class="client-name">Paciente: Carlos Dias</p>
          <p class="professional-name">Profissional: Ana Marques</p>
          <p class="data-agendamento">Horário: 16h30 - 18h30</p>
          <a class="bnt-more">Ver mais</a>
        </div>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <div class="title">
          <div class="status-concluido">CONCLUÍDO</div>
          <div class="date">1 FEV 2020</div>
        </div>
        <div class="agendamento-content">
          <p class="client-name">Paciente: Carlos Dias</p>
          <p class="professional-name">Profissional: Ana Marques</p>
          <p class="data-agendamento">Horário: 16h30 - 18h30</p>
          <a class="bnt-more">Ver mais</a>
        </div>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <div class="title">
          <div class="status-cancelado">CANCELADO</div>
          <div class="date">1 FEV 2020</div>
        </div>
        <div class="agendamento-content">
          <p class="client-name">Paciente: Carlos Dias</p>
          <p class="professional-name">Profissional: Ana Marques</p>
          <p class="data-agendamento">Horário: 16h30 - 18h30</p>
          <a class="bnt-more">Ver mais</a>
        </div>
      </div>
    </div>

  </div>
</section>